# Investment Analysis Assignment
##### By: Akshay Rohankar

Assignment Brief:<br>
You work for Spark Funds, an asset management company. Spark Funds wants to make investments in a few companies. The CEO of Spark Funds wants to understand the global trends in investments so that she can take the investment decisions effectively.

constraints:
1. It wants to invest between 5 to 15 million USD per round of investment

2. It wants to invest only in English-speaking countries because of the ease of communication with the companies it would invest in

Compony Investment Stratergy:<br>

Spark Funds wants to invest where most other investors are investing. This pattern is often observed among early stage startup investors.

Data Available for Analysis:
1. Company basic data (company.txt)
2. Funding round details (rounds2.csv)
3. Sector Classification info (mapping.csv)

Bussiness Objective:<br>
Identify best secotrs, countries and a suitable investment type. Here best implies were most of the investors are investing.

Goal of the Data Analysis:<br>
1. Investment type analysis
2. Country analysis
3. Sector analysis

In [4]:
import numpy as np
import pandas as pd

Read the input files company.txt and rounds2.csv to a pandas dataframe

In [1]:
companies = pd.read_csv("DataFiles-copy/companies.txt", sep="\t", encoding = "ISO-8859-1")
rounds2 = pd.read_csv("DataFiles-copy/rounds2.csv",encoding='ISO-8859-1')

NameError: name 'pd' is not defined

In [6]:
companies.shape
companies.info()
rounds2.shape
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [7]:
rounds2.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [8]:
companies.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [9]:
uniqc_rounds2=len(rounds2.company_permalink.unique())
uniqc_companies=len(companies.permalink.unique())
uniqc_companies
print(uniqc_rounds2,uniqc_companies)

90247 66368

It can be observed from the data that the permalink column has some entry as uppercase while some as lower case. Converting complete company_permalink column to lower case

In [51]:
rounds2["company_permalink"] = rounds2["company_permalink"].str.lower()
companies["permalink"] = companies["permalink"].str.lower()

In [52]:
uniqc_rounds2=len(rounds2["company_permalink"].unique())
uniqc_rounds2

66370

In [53]:
uniqc_companies=len(companies.permalink.unique())
uniqc_companies

66368

Merge the two data frames so that all  variables (columns)  in the companies frame are added to the rounds2 data frame and Naming the merged frame master_frame.

In [13]:
master_frame=pd.merge(rounds2,companies,how="left",left_on="company_permalink",right_on="permalink")

In [14]:
master_frame.shape

(114949, 16)

In [15]:
rounds2.shape

(114949, 6)

In [16]:
master_frame.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                      7
name                           8
homepage_url                6139
category_list               3414
status                         7
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20527
dtype: int64

In [17]:
# check how many rows have all missing values
master_frame.isnull().all(axis=1).sum()

0

In [18]:
# sum of misisng values in each row
master_frame.isnull().sum(axis=1)

0         1
1         1
2         1
3         5
4         0
5         2
6         3
7         1
8         1
9         1
10        0
11        1
12        0
13        1
14        2
15        1
16        1
17        4
18        2
19        2
20        1
21        1
22        1
23        2
24        1
25        1
26        1
27        1
28        0
29        1
         ..
114919    1
114920    0
114921    1
114922    1
114923    1
114924    1
114925    1
114926    1
114927    2
114928    1
114929    1
114930    1
114931    0
114932    2
114933    2
114934    2
114935    2
114936    1
114937    0
114938    1
114939    1
114940    1
114941    1
114942    1
114943    1
114944    1
114945    1
114946    6
114947    1
114948    6
Length: 114949, dtype: int64

In [19]:
# summing up the missing values (column-wise)
round(100*(master_frame.isnull().sum()/len(master_frame.index)), 2)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.01
name                        0.01
homepage_url                5.34
category_list               2.97
status                      0.01
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.86
dtype: float64

### Funding Type Analysis

Identify which investment type is the most suitable for Spark Funds
As specified, Spark Funds wants to choose one of the four investment types (seed,angel,venture,private_equity) for each potential investment they will make.

In [20]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [21]:
master_frame['funding_round_type'].unique()

array(['venture', 'seed', 'undisclosed', 'equity_crowdfunding',
       'convertible_note', 'private_equity', 'debt_financing', 'angel',
       'grant', 'secondary_market', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'non_equity_assistance'], dtype=object)

In [22]:
master_frame=master_frame[master_frame['funding_round_type'].isin(['seed','angel','venture','private_equity'])]

In [23]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [24]:
# Group the dataframe with funding_round_type
master_by_fundtype = master_frame.groupby('funding_round_type')
master_by_fundtype

The pandas.dataframe.mean() method will ignore the null values, hense can go forward without treating nulls

In [25]:
# We can choose aggregate functions mean to get the average funding raised for each funding types
master_by_fundtype['raised_amount_usd'].mean().sort_values(ascending = False)

funding_round_type
private_equity    7.330859e+07
venture           1.174895e+07
angel             9.586945e+05
seed              7.198180e+05
Name: raised_amount_usd, dtype: float64

Now, according to Spark Fund's investment stratagy which is to invest between 5 to 15 million USD per investment round, we can clearly see that Venture funding type is the most appropriate to invest in.

### Country Analysis

Further filtering the data so it only contains the chosen investment type i.e venture

Country Analysis###

In [26]:
venture_df=master_frame[master_frame["funding_round_type"]=="venture"]

In [27]:
venture_df.shape

(55494, 16)

In [28]:
venture_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55494 entries, 0 to 114946
Data columns (total 16 columns):
company_permalink          55494 non-null object
funding_round_permalink    55494 non-null object
funding_round_type         55494 non-null object
funding_round_code         30985 non-null object
funded_at                  55494 non-null object
raised_amount_usd          50228 non-null float64
permalink                  55493 non-null object
name                       55493 non-null object
homepage_url               52548 non-null object
category_list              54362 non-null object
status                     55493 non-null object
country_code               52619 non-null object
state_code                 51698 non-null object
region                     51940 non-null object
city                       51940 non-null object
founded_at                 44302 non-null object
dtypes: float64(1), object(15)
memory usage: 7.2+ MB

In [29]:
venture_df.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
5,/organization/004-technologies,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [30]:
venture_by_country = venture_df.groupby('country_code')
venture_by_country

The pandas.dataframe.sum() method will ignore the null values, hense can go forward without treating nulls

In [31]:
venture_by_country['raised_amount_usd'].sum().sort_values(ascending=False).head(9)

country_code
USA    4.225108e+11
CHN    3.983542e+10
GBR    2.024563e+10
IND    1.439186e+10
CAN    9.583332e+09
FRA    7.259537e+09
ISR    6.907515e+09
DEU    6.346960e+09
JPN    3.363677e+09
Name: raised_amount_usd, dtype: float64

In [32]:
top9 = venture_df[venture_df['country_code'].isin(["USA","CHN","GBR","IND","CAN","FRA","ISR","DEU","JPN"])]

In [33]:
top9.shape

(48099, 16)

In [34]:
top9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48099 entries, 0 to 114941
Data columns (total 16 columns):
company_permalink          48099 non-null object
funding_round_permalink    48099 non-null object
funding_round_type         48099 non-null object
funding_round_code         26930 non-null object
funded_at                  48099 non-null object
raised_amount_usd          44383 non-null float64
permalink                  48099 non-null object
name                       48099 non-null object
homepage_url               45902 non-null object
category_list              47614 non-null object
status                     48099 non-null object
country_code               48099 non-null object
state_code                 47768 non-null object
region                     47596 non-null object
city                       47596 non-null object
founded_at                 39407 non-null object
dtypes: float64(1), object(15)
memory usage: 6.2+ MB

In [35]:
top9.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
5,/organization/004-technologies,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997

After referencing the list of english speaking countries from the PDF file provided for analysis. The top three English-speaking countries in the data frame top9 are
1. USA
2. GBR (United Kingdom)
3. IND

### Sector Analysis 1

In [36]:
top9.category_list.head()

0                                                Media
1    Application Platforms|Real Time|Social Network...
4                                          Curated Web
5                                             Software
8                                        Biotechnology
Name: category_list, dtype: object

Removing rows with catagory_list field as null.

In [37]:
top9.category_list.isnull().sum()

485

There are 485 rows with no category information. Removing these rows for further mapping with the main sector.

In [38]:
top9=top9[~top9.category_list.isnull()]

In [39]:
top9.shape

(47614, 16)

In [40]:
top9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47614 entries, 0 to 114941
Data columns (total 16 columns):
company_permalink          47614 non-null object
funding_round_permalink    47614 non-null object
funding_round_type         47614 non-null object
funding_round_code         26717 non-null object
funded_at                  47614 non-null object
raised_amount_usd          44118 non-null float64
permalink                  47614 non-null object
name                       47614 non-null object
homepage_url               45505 non-null object
category_list              47614 non-null object
status                     47614 non-null object
country_code               47614 non-null object
state_code                 47286 non-null object
region                     47116 non-null object
city                       47116 non-null object
founded_at                 39248 non-null object
dtypes: float64(1), object(15)
memory usage: 6.2+ MB

Write a function getPrimarySector to return the primary sector from the category_list column.

In [41]:
#def getPrimarySector(category):
#    if '|' in category:
#        return category[:category.find('|')]
#    else:
#        return category

In [42]:
#master_frame['main_category']=master_frame['category_list'].astype(str).apply(lambda x: x.split('|')[0])

In [46]:
#top9['primary_sector'] = list(map(getPrimarySector,top9['category_list']))
top9['primary_sector']=top9['category_list'].astype(str).apply(lambda x: x.split('|')[0])

In [47]:
top9.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
5,/organization/004-technologies,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,Biotechnology

In [48]:
top9.shape

(47614, 17)

Now, Mapping the primary sector to the main sector using the provided mapping.csv

In [49]:
mapping = pd.read_csv("DataFiles-copy/mapping.csv", encoding = "ISO-8859-1")

In [50]:
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [ ]:
mapping=mapping[~mapping.category_list.isnull()]
mapping.head()

In [ ]:
def correctMapping0(category):
    if '0' in category:
        if category.startswith("0"):    # Handle 0notechnology case with capital Na
            return category[:category.find('0')]+'Na'+category[category.find('0')+1:]
        elif category.endswith("0"):
            return category
        else:
            return category[:category.find('0')]+'na'+category[category.find('0')+1:]
    else:
        return category

In [ ]:
mapping['category_list']=list(map(correctMapping0,mapping['category_list']))

In [ ]:
top9.head()

In [ ]:
# Get the index of the row with matching primary_sector(category)
ind=mapping.index[mapping['category_list']=='Accounting'].tolist()
ind

#Finding the column name in the ind row from above where value is 1
str=''.join((mapping == 1).idxmax(axis=1)[ind].tolist())
str

In [ ]:
def getMainSector(category):
    #if category in mapping['category_list'].tolist():
        ind=mapping.index[mapping['category_list']== category].tolist()
        sector_name=''.join((mapping == 1).idxmax(axis=1)[ind].tolist())
        #print(sector_name)
        return sector_name
    #else:
      #  return ''

In [ ]:
top9['main_sector'] = list(map(getMainSector,top9['primary_sector']))

In [ ]:
top9.shape

In [ ]:
top9.head()

### Sector Analysis 2

In [ ]:
top9.main_sector.unique()

<br>
<br>
From the unique values as seen from the above command there are some records with '' as the main sector

In [ ]:
top9[top9['main_sector']=='']

<br>
<br>
There are 12 records with '' as the main sector

In [ ]:
len(top9[top9['main_sector']==''])

<br>
<br>
Removing these 12 records with '' as the main sector from the top9 dataframe

In [ ]:
top9=top9[~(top9['main_sector'] == '')]

In [ ]:
len(top9[top9['main_sector']==''])

In [ ]:
top9.info()

In [ ]:
str=''.join((mapping == 1).idxmax(axis=1)[ind].tolist())
str

Creating three separate data frames D1, D2 and D3 for each of the top three countries (USA, GBR, IND) containing the observations of funding type venture falling within the 5-15 million USD range.

In [ ]:
D1=top9[top9['country_code']=='USA']

In [ ]:
D1 = D1[(D1['raised_amount_usd'] >= 5000000) & (D1['raised_amount_usd'] <= 15000000)]

In [ ]:
D1.raised_amount_usd.sum()

In [ ]:
D1.raised_amount_usd.count()

In [ ]:
D1.shape

In [ ]:
D1_by_sector=D1.groupby('main_sector')

In [ ]:
D1_by_sector['raised_amount_usd'].sum().sort_values(ascending = False)

In [ ]:
D1_by_sector['raised_amount_usd'].count().sort_values(ascending = False)

In [ ]:
D1[D1['main_sector']=='Others'].groupby(['main_sector','permalink']).raised_amount_usd.sum().sort_values(ascending=False).head()

In [ ]:
D1[D1['main_sector']=='Social, Finance, Analytics, Advertising'].groupby(['main_sector','permalink']).raised_amount_usd.sum().sort_values(ascending=False).head()

Creating Data frame D2 for country GBR

In [ ]:
D2=top9[top9['country_code']=='GBR']
D2 = D2[(D2['raised_amount_usd'] >= 5000000) & (D2['raised_amount_usd'] <= 15000000)]
D2_by_sector=D2.groupby('main_sector')
D2_by_sector['raised_amount_usd'].sum().sort_values(ascending = False)

In [ ]:
D2.raised_amount_usd.sum()

In [ ]:
D2.raised_amount_usd.count()

In [ ]:
D2.shape

In [ ]:
D2_by_sector['raised_amount_usd'].count().sort_values(ascending = False)

In [ ]:
D2[D2['main_sector']=='Others'].groupby(['main_sector','permalink']).raised_amount_usd.sum().sort_values(ascending=False).head()

In [ ]:
D2[D2['main_sector']=='Social, Finance, Analytics, Advertising'].groupby(['main_sector','permalink']).raised_amount_usd.sum().sort_values(ascending=False).head()

Creating Data frame D3 for country IND

In [ ]:
D3=top9[top9['country_code']=='IND']
D3 = D3[(D3['raised_amount_usd'] >= 5000000) & (D3['raised_amount_usd'] <= 15000000)]
D3_by_sector=D3.groupby('main_sector')
D3_by_sector['raised_amount_usd'].sum().sort_values(ascending = False)

In [ ]:
D3_by_sector['raised_amount_usd'].count().sort_values(ascending = False)

In [ ]:
D3.shape

In [ ]:
D3.raised_amount_usd.sum()

In [ ]:
D3.raised_amount_usd.count()

In [ ]:
D3[D3['main_sector']=='Others'].groupby(['main_sector','permalink']).raised_amount_usd.sum().sort_values(ascending=False).head()

In [ ]:
D3[D3['main_sector']=='Social, Finance, Analytics, Advertising'].groupby(['main_sector','permalink']).raised_amount_usd.sum().sort_values(ascending=False).head()

### Checkpoint 6: Plots

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
# set seaborn theme if you prefer
sns.set(style="white")

In [ ]:
# bar plot with default statistic=mean
plt.figure(figsize=(10,5))
g=sns.barplot(x='funding_round_type', y='raised_amount_usd', data=master_frame)
g.set_ylim(0, 20000000)
g.set(xlabel='Funding Type', ylabel='Raised Amount   (1unit = 10M USD)')
plt.show()

In [ ]:
# bar plot with default statistic=mean
plt.figure(figsize=(10,5))
c=sns.barplot(x='country_code', y='raised_amount_usd', data=top9, estimator=np.sum)
#c.set_ylim(0, 100000000000)
c.set_yscale('log')
c.set(xlabel='Funding Type', ylabel='Raised Amount')
plt.show()

A plot showing the number of investments in the top 3 sectors of the top 3 countries on one chart (for the chosen investment type FT)

In [ ]:
D3.groupby(['country_code','main_sector']).raised_amount_usd.count().sort_values(ascending=False).head(3)

In [ ]:
master_D=D1[D1['main_sector'].isin(['Others','Social, Finance, Analytics, Advertising','Cleantech / Semiconductors'])]

In [ ]:
master_D.shape

In [ ]:
D1.shape

In [ ]:
master_D=master_D.append(D2[D2['main_sector'].isin(['Others','Social, Finance, Analytics, Advertising','Cleantech / Semiconductors'])], ignore_index=True)

In [ ]:
master_D.shape

In [ ]:
master_D=master_D.append(D3[D3['main_sector'].isin(['Others','Social, Finance, Analytics, Advertising','News, Search and Messaging'])], ignore_index=True)

In [ ]:
master_D.shape

In [ ]:
# set figure size for larger figure
plt.figure(num=None, figsize=(12, 8), dpi=80, facecolor='w', edgecolor='k')

# specify hue="categorical_variable"
sns.barplot(x='country_code', y=master_D.groupby['country_code'].raised_amount_usd.count(), hue="main_sector", data=master_D)
plt.show()